<footer class="bg-dark text-light text-center text-md-left foot">
	<div class="container" style="padding-bottom: 1px;">
		<div class="row pt-2">
			
			<div class="col-sm-6 col-md-3 pb-4">
				<h4 class="mb-4">
					About
				</h4>
				<ul class="list-unstyled">
					<li>
						<a href="#" class="text-light">Company</a>
					</li>
					<li>
						<a href="#" class="text-light">Team</a>
					</li>
					<li>
						<a href="#" class="text-light">Careers</a>
					</li>
				</ul>
			</div>
			<div class="col-md-6 pb-4 text-center">
				<h4 class="mb-4" >
					Bark N Burr

				</h4>
				<ul class="list-unstyled pb-2">
					<li>
						<p class="text-light">Bark N Burr is a online store for purchasing Dogs. We provide excellent quality of native and imported breeds at reasonable price.</p>
					</li>
					
				</ul>
			</div>
		</div>
		<div class="col d-flex justify-content-center mb-4 border-top border-secondary pt-2" >
			<a href="#" class="d-block px-3"><img src="https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-facebook-m.png" alt="Facebook" /></a><a href="#" class="d-block px-3"><img src="https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-twitter-m.png" alt="Twitter" /></a><a href="#" class="d-block px-3"><img src="https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-instagram-m.png" alt="Instagram" /></a><a href="#" class="d-block px-3"><img src="https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-linkedin-m.png" alt="Linkedin" /></a>
		</div>
	
	</div>
</footer>