<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" *ngIf="checkuser.role==='User'">
  <a class="navbar-brand" href="userhome.html">Bark N Burr<img src="https://cdn-icons-png.flaticon.com/512/1581/1581645.png" height="30px" width="30px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link">Welcome {{username}} </a></li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profile']"><i class="fa fa-user"></i> Profile</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input #myInput class="form-control mr-sm-2"
              placeholder="Search for Products.."
              (keyup.enter)="doSearch(myInput.value)"  
              type="text" aria-label="Search">
  
      <button (click)="doSearch(myInput.value)" class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i>Search</button>
    </form>&nbsp;&nbsp;
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cart']"><div *ngIf="totalItem != 0" style="font-size: 10px;" class="badge bg-info">{{totalItem}}</div><i class="fa fa-shopping-cart"></i> Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/myorders']"><i class="fa fa-shopping-bag"></i> My Orders</a>
      </li>
    </ul>
    &nbsp;&nbsp;<button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
  </div>
</nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="checkuser.role==='Admin'">
    <a class="navbar-brand" href="userhome.html">Bark N Burr<img src="https://cdn-icons-png.flaticon.com/512/1581/1581645.png" height="30px" width="30px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/admin']">Admin Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/adminuser']">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/adminorders']">Orders</a>
        </li>
      </ul>
     
      &nbsp; <button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
    </div>
  </nav>

