<app-navbar></app-navbar><div class="container-fluid" style="padding-bottom: 100px;">
    <ng-container *ngIf="orders.length !=0">
    <div class="card" style="margin-top:100px; margin-bottom: 100px;">
        <div class="row">
            <div class="col-md-12 cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>My Orders</b></h4>
                        </div>
                        
                    </div>
                </div>
                <div class="row main align-items-center border-bottom">
                    <div class="col-2">Order Id</div>
                    <div class="col">  Products</div>
                    <div class="col">Address </div>
                    <div class="col">Total</div>
                    <div class="col"></div>
    
                </div>
                
               
                <div class="row border-top border-bottom" *ngFor="let item of orders">
                    <div class="row main align-items-center">
                        <div class="col-2">{{item.id}}</div>
                        <div class="col">
                            <div class="row text-muted"></div>
                            <div class="row" *ngFor="let orderitem of item.orderItems">{{orderitem.product.product_name}}</div>
                        </div>
                        <div class="col"> {{item.address.houseno}},{{item.address.street}},{{item.address.city}},{{item.address.state}},{{item.address.pincode}}</div>
                        <div class="col">&#x20B9; {{item.totalPrice}} </div>
                        <div class="col"><button class="btn btn-primary" (click)="viewOrder(item.id)">View Order</button></div>
                    </div>
                </div>
                <div class="back-to-shop"><a  routerLink="/home"><span class="text-muted">Back to shop</span></a></div>
            </div>
            
        </div>
    </div>
    </ng-container>
    <ng-container *ngIf="orders.length ==0">
        <div class="container " style="margin-top: 100px;">
            <div class="card empty ">
                <div class="row align-self-center">
                    
                <h1 class="title" style="margin-top: 10px;">My Orders</h1>
              </div>
              <div class="row align-self-center emptycart">
            <div class="center">
                <img src="https://media.istockphoto.com/photos/happy-smiling-pug-puppy-dog-holding-up-wire-metal-shopping-basket-picture-id1126251896?k=20&m=1126251896&s=612x612&w=0&h=FWvYTuVbDKbUWgdw0Ly9JKnUjX0UB8j_tpUYg4bmqns="  alt="">
                <h4 style="margin-left: 150px;">No Orders Done</h4>
                <h5>Add dogs - To make your life beautiful as never before</h5>
               
                <button routerLink="/home" class="btn " style="margin-left: 200px;">Shop Now</button>
              
            </div>
          </div>
          </div>
        </div>
      </ng-container></div>
    <app-footer></app-footer>