
h2{
    font-family: Simonetta;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    color: #000000;
    }
.container{
    padding: 175px 200px 0px 200px;
     max-width: 820px; 
     border-radius: 5px; 
     max-height: 750px;
}
.form-control{
    font-family: Simonetta;
    border-radius: 15px;
}
.label{
    font-family: Simonetta;
    font-size: large;
}
.log{
    background-color:#FFF;
}


