h2{
    font-family: Simonetta;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    color: #000000;
    }
    .form-control{
        font-family: Simonetta;
        border-radius: 15px;
    }
    
    